In [230]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import cosine
from sklearn.metrics.pairwise import pairwise_distances

## 1. Collaborative Filtering

#### Use this user-item matrix to:
#### A. Recommend 10 songs to users who have listened to 'u2' and 'pink floyd'. Use item-item collaborative filtering to find songs that are similar using spatial distance with cosine. Since this measures the distance you need to subtract from 1 to get similarity as shown below.

In [231]:
dataset = pd.read_csv('radio_songs.csv')
dataset.head()

,user,a perfect circle,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,...,timbaland,tom waits,tool,tori amos,travis,trivium,u2,underoath,volbeat,yann tiersen
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,33,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,42,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,51,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [232]:
# Dropping the column named "user"
radio_song_item = dataset.drop('user', 1)
radio_song_item.head()

,a perfect circle,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,alicia keys,...,timbaland,tom waits,tool,tori amos,travis,trivium,u2,underoath,volbeat,yann tiersen
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [233]:
# Creating a placeholder dataframe listing song vs. song
radio_song = pd.DataFrame(index=radio_song_item.columns,columns=radio_song_item.columns)
radio_song.head()

,a perfect circle,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,alicia keys,...,timbaland,tom waits,tool,tori amos,travis,trivium,u2,underoath,volbeat,yann tiersen
a perfect circle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
abba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ac/dc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adam green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aerosmith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [234]:
radio_song.fillna(0)
#radio_song = pairwise_distances(radio_song, metric='cosine')
radio_song

,a perfect circle,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,alicia keys,...,timbaland,tom waits,tool,tori amos,travis,trivium,u2,underoath,volbeat,yann tiersen
a perfect circle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
abba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ac/dc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adam green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aerosmith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
trivium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
underoath,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
volbeat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yann tiersen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [235]:
#calculating the cosine_similarity
# Loop through the columns
for i in range(0,len(radio_song.columns)) :
    # Loop through the columns for each column
    for j in range(0,len(radio_song.columns)) :
      # Fill in placeholder with cosine similarities
      radio_song.iloc[i,j] = 1-cosine(radio_song_item.iloc[:,i],radio_song_item.iloc[:,j])

/Users/bharadwajkacharla/opt/anaconda3/lib/python3.7/site-packages/scipy/spatial/distance.py:714: RuntimeWarning: invalid value encountered in double_scalars
  dist = 1.0 - uv / np.sqrt(uu * vv)

In [236]:
radio_song

,a perfect circle,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,alicia keys,...,timbaland,tom waits,tool,tori amos,travis,trivium,u2,underoath,volbeat,yann tiersen
a perfect circle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
abba,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,0,0,0,0,0
ac/dc,NaN,0,1,0,0,0.223607,0,0,0,0,...,0,0,0,0,NaN,0,0.223607,0,0.2,0
adam green,NaN,0,0,1,0,0,0,0,0,0,...,0,0,0,0,NaN,0,0,0,0,0
aerosmith,NaN,0,0,0,1,0,0,0,0,0,...,0,0,0,0,NaN,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
trivium,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,1,0,0,0.223607,0
u2,NaN,0,0.223607,0,0,0,0,0,0,0,...,0,0,0,0,NaN,0,1,0,0.223607,0
underoath,NaN,0,0,0,0,0,0,0,0.288675,0,...,0,0.204124,0,0,NaN,0,0,1,0,0
volbeat,NaN,0,0.2,0,0,0,0,0,0,0,...,0,0,0.447214,0,NaN,0.223607,0.223607,0,1,0.447214
yann tiersen,NaN,0,0,0,0,0,0,0,0,0,...,0,0,1,0,NaN,0,0,0,0.447214,1

In [271]:
# Create a placeholder items for closes neighbours to an item
radio_similar_songs = pd.DataFrame(index=radio_song.columns,columns=range(1,13))

# Loop through our similarity dataframe and fill in neighbouring item names
for i in range(0,len(radio_song.columns)):
    radio_similar_songs.iloc[i,:12] = radio_song.iloc[0:,i].sort_values(ascending=False)[:12].index

In [272]:
radio_similar_songs

,1,2,3,4,5,6,7,8,9,10,11,12
a perfect circle,a perfect circle,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,alicia keys,all that remains,amon amarth
abba,abba,hans zimmer,frank sinatra,howard shore,elvis presley,groove coverage,faithless,papa roach,limp bizkit,scooter,nightwish,cascada
ac/dc,ac/dc,hammerfall,in extremo,metallica,dream theater,blind guardian,bloodhound gang,nightwish,marilyn manson,frank sinatra,apocalyptica,dire straits
adam green,adam green,nouvelle vague,three days grace,the fray,keane,tegan and sara,belle and sebastian,the strokes,razorlight,farin urlaub,the kooks,paramore
aerosmith,aerosmith,staind,maria mena,flogging molly,bad religion,morcheeba,eric clapton,papa roach,audioslave,manu chao,in extremo,the beatles
...,...,...,...,...,...,...,...,...,...,...,...,...
trivium,trivium,parkway drive,all that remains,machine head,chimaira,slayer,soilwork,as i lay dying,children of bodom,heaven shall burn,bullet for my valentine,caliban
u2,u2,robbie williams,misfits,green day,depeche mode,peter fox,kelly clarkson,dire straits,enter shikari,madonna,johnny cash,foo fighters
underoath,underoath,killswitch engage,atreyu,lostprophets,stone sour,cypress hill,cat power,deftones,three days grace,rob zombie,sonic syndicate,funeral for a friend
volbeat,volbeat,yann tiersen,tool,boards of canada,children of bodom,red hot chili peppers,digitalism,dimmu borgir,apocalyptica,dire straits,slayer,enter shikari
yann tiersen,yann tiersen,tool,boards of canada,equilibrium,digitalism,porcupine tree,dimmu borgir,dredg,volbeat,radiohead,the offspring,feist

From the above we can identify that the songs similar to u2 and pinkfloyd are

In [273]:
recommendations = pd.DataFrame()
recommendations['u2'] = radio_similar_songs.loc['u2']
recommendations['pink floyd'] = radio_similar_songs.loc['pink floyd']
recommendations = recommendations[1::]
recommendations

                 u2            pink floyd
2   robbie williams               genesis
3           misfits                 queen
4         green day          led zeppelin
5      depeche mode       sonic syndicate
6         peter fox           hans zimmer
7    kelly clarkson  funeral for a friend
8      dire straits           david bowie
9     enter shikari              coldplay
10          madonna          howard shore
11      johnny cash    the rolling stones
12     foo fighters             bob dylan

The top 10 recommendations for **u2** are

    -robbie williams
    -misfits
    -green day
    -depeche mode
    -peter fox
    -kelly clarkson
    -dire straits
    -enter shikari
    -madonna
    -johnny cash

for **pink floyd** are 

    -genesis
    -queen
    -led zeppelin
    -sonic syndicate
    -hans zimmer
    -funeral for a friend
    -david bowie
    -coldplay
    -howard shore
    -the rolling stones

#### B. Find user most similar to user 1606 (at row index 99). Use user-user collaborative filtering with cosine similarity. List the recommended songs for user 1606 (Hint: find the songs listened to by the most similar user).

In [240]:
# --- User Based Recommendations --- #
def getScore(history, similarities):
    return sum(history*similarities)/sum(similarities)

In [241]:
# Create a place holder matrix for similarities, and fill in the user name column
user_sims = pd.DataFrame(index=dataset.index,columns=dataset.columns)
user_sims.iloc[:,:1] = dataset.iloc[:,:1]

In [242]:
#Loop through all rows, skip the user column, and fill with similarity scores
for i in range(0,len(user_sims.index)):
    for j in range(1,len(user_sims.columns)):
        user = user_sims.index[i]
        songs = user_sims.columns[j]
 
        if dataset.iloc[i][j] == 1:
            user_sims.iloc[i][j] = 0
        else:
            song_top_names = radio_similar_songs.loc[songs][1:10]
            sing_top_sims = radio_song.loc[songs].sort_values(ascending=False)[1:11]
            user_purchases = radio_song_item.loc[user,song_top_names]
 
            user_sims.iloc[i][j] = getScore(user_purchases,sing_top_sims)

In [243]:
user_recommend.loc[1,1:] = user_sims.loc[1,:].sort_values(ascending=False).iloc[1:11,].index.transpose()

/Users/bharadwajkacharla/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  """Entry point for launching an IPython kernel.

In [244]:
# Instead of top song scores, we want to see names
for i in range(0,len(user_sims.index)):
    user_recommend.loc[i,1:] = user_sims.loc[i,:].sort_values(ascending=False).iloc[1:11,].index.transpose()

/Users/bharadwajkacharla/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [245]:
user_recommend

,user,1,2,3,4,5,6,7,8,9,10
0,1,the rolling stones,the killers,schandmaul,rob zombie,red hot chili peppers,judas priest,jack johnson,guano apes,goldfrapp,eluveitie
1,33,incubus,adam green,belle and sebastian,clueso,coldplay,death cab for cutie,deichkind,die toten hosen,evanescence,farin urlaub
2,42,nightwish,in extremo,him,groove coverage,evanescence,avril lavigne,as i lay dying,a perfect circle,abba,ac/dc
3,51,the ting tings,arctic monkeys,beatsteaks,billy talent,clueso,duffy,incubus,kate nash,the wombats,lily allen
4,62,the subways,the kooks,stone sour,red hot chili peppers,razorlight,kings of leon,kanye west,justin timberlake,deichkind,clueso
...,...,...,...,...,...,...,...,...,...,...,...
95,1566,michael jackson,a perfect circle,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire
96,1586,eels,alicia keys,amy winehouse,atb,beyonce,blink-182,bloodhound gang,britney spears,christina aguilera,the offspring
97,1589,sonata arctica,rammstein,queen,nightwish,equilibrium,ensiferum,dredg,die apokalyptischen reiter,blind guardian,a perfect circle
98,1601,regina spektor,kings of convenience,johnny cash,feist,belle and sebastian,a perfect circle,abba,ac/dc,adam green,aerosmith
99,1606,the beatles,frank sinatra,elvis presley,abba,a perfect circle,ac/dc,adam green,aerosmith,afi,air

In [246]:
# using pairwise_distances function from sklearn to calculate the cosine similarity 
user_similarity = pairwise_distances(dataset.set_index('user'), metric='cosine')

# Subtracting 1 from the distance to get similarity
user_similarity_score = 1 - user_similarity

In [247]:
#Converting the similarity score to a dataframe
df_user = pd.DataFrame(user_similarity_score)
df_user.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.000000,0.061546,0.000000,0.000000,0.083624,0.000000,0.0,0.000000,0.000000,0.150756,...,0.1066,0.0,0.000000,0.190693,0.000000,0.0,0.000000,0.000000,0.000000,0.0
1,0.061546,1.000000,0.077152,0.247537,0.226455,0.176777,0.0,0.000000,0.000000,0.102062,...,0.0000,0.0,0.064550,0.193649,0.000000,0.0,0.045644,0.000000,0.091287,0.0
2,0.000000,0.077152,1.000000,0.000000,0.000000,0.000000,0.0,0.091670,0.000000,0.000000,...,0.0000,0.0,0.000000,0.000000,0.094491,0.0,0.000000,0.125988,0.000000,0.0
3,0.000000,0.247537,0.000000,1.000000,0.336336,0.140028,0.0,0.000000,0.108465,0.121268,...,0.0000,0.0,0.076696,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
4,0.083624,0.226455,0.000000,0.336336,1.000000,0.160128,0.0,0.067267,0.124035,0.138675,...,0.0000,0.0,0.175412,0.087706,0.000000,0.0,0.062017,0.000000,0.000000,0.0

In [248]:
# assigning column names
df_user.columns = dataset['user']

In [249]:
# assigning dataframe the row names
df_user.index = dataset['user']

In [250]:
df_user

user,1,33,42,51,62,75,130,141,144,150,...,1521,1530,1536,1545,1549,1566,1586,1589,1601,1606
user,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.061546,0.000000,0.000000,0.083624,0.000000,0.0,0.000000,0.000000,0.150756,...,0.1066,0.0,0.000000,0.190693,0.000000,0.0,0.000000,0.000000,0.000000,0.0
33,0.061546,1.000000,0.077152,0.247537,0.226455,0.176777,0.0,0.000000,0.000000,0.102062,...,0.0000,0.0,0.064550,0.193649,0.000000,0.0,0.045644,0.000000,0.091287,0.0
42,0.000000,0.077152,1.000000,0.000000,0.000000,0.000000,0.0,0.091670,0.000000,0.000000,...,0.0000,0.0,0.000000,0.000000,0.094491,0.0,0.000000,0.125988,0.000000,0.0
51,0.000000,0.247537,0.000000,1.000000,0.336336,0.140028,0.0,0.000000,0.108465,0.121268,...,0.0000,0.0,0.076696,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
62,0.083624,0.226455,0.000000,0.336336,1.000000,0.160128,0.0,0.067267,0.124035,0.138675,...,0.0000,0.0,0.175412,0.087706,0.000000,0.0,0.062017,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1566,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0000,0.0,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.0
1586,0.000000,0.045644,0.000000,0.000000,0.062017,0.129099,0.0,0.000000,0.000000,0.000000,...,0.0000,0.0,0.212132,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.0
1589,0.000000,0.000000,0.125988,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.166667,...,0.0000,0.0,0.000000,0.000000,0.083333,0.0,0.000000,1.000000,0.000000,0.0
1601,0.000000,0.091287,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.0
1606,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.223607,0.000000,...,0.0000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.0

In [251]:
# sorting the cosine similarity for the user'1606'
df_user[1606].sort_values(ascending=False)[:5]

user
1606    1.000000
1144    0.277350
144     0.223607
1334    0.150756
1509    0.144338
Name: 1606, dtype: float64

##### User 1144 is most similar to user 1606

In [252]:
#idenitifying index location for user 1144
(dataset['user'][dataset['user'].isin(['1144'])])

65    1144
Name: user, dtype: int64

In [253]:
# Idenitifying songs listened by the user 1144
user_1144 = dataset.set_index('user').iloc[65]

In [254]:
# looking at which artists the user '1144' is interested in
user_1144.loc[user_1144 == 1]

beastie boys                1
bob dylan                   1
bob marley & the wailers    1
david bowie                 1
elvis presley               1
eric clapton                1
johnny cash                 1
pearl jam                   1
pink floyd                  1
the beatles                 1
the doors                   1
the rolling stones          1
tom waits                   1
Name: 1144, dtype: int64

The recommended songs for user **1606**

beastie boys  
bob dylan  
bob marley & the wailers  
david bowie  
elvis presley  
eric clapton  
johnny cash  
pearl jam  
pink floyd  
the beatles  
the doors  
the rolling stones  
tom waits

##### C. How many of the recommended songs has already been listened to by user 1606?

In [256]:
# songs the user 1606 has listened to
user_1606 = dataset.set_index('user').iloc[99]
user_1606.loc[user_1606 == 1]

abba             1
elvis presley    1
frank sinatra    1
the beatles      1
Name: 1606, dtype: int64

In [276]:
#identifying the songs the user '1144' has listened to
user_1144.loc[user_1144 == 1]

beastie boys                1
bob dylan                   1
bob marley & the wailers    1
david bowie                 1
elvis presley               1
eric clapton                1
johnny cash                 1
pearl jam                   1
pink floyd                  1
the beatles                 1
the doors                   1
the rolling stones          1
tom waits                   1
Name: 1144, dtype: int64

##### The songs heard already by user 1606:

- elvis presley
- the beatles

### 2. Conceptual questions:

##### a) Name 2 other similarity measures that you can use instead of cosine similarity above.

Similarity measures how much two objects are alike. Similarity measure in a data mining context is a distance with dimensions representing features of the objects. If distance is small, two objects are very similar where as if distance is large we will observe low degree of similarity.
There are lot of similarity distance measures.
- Cosine similarity
- Manhattan distance
- Euclidean distance
- Minkowski distance
- Jaccard similarity

##### Manhattan distance
    Manhattan distance is a metric in which the distance between two points is the sum of the absolute differences of their Cartesian coordinates. In a simple way of saying it is the total sum of the difference between the x-coordinates and y-coordinates.
    
<img src='Screen Shot 2020-11-12 at 6.46.44 PM.png'>


##### Euclidean distnace
    The Euclidean distance between two points in either the plane or 3-dimensional space measures the length of a segment connecting the two points. It is the most obvious way of representing distance between two points.
    The Pythagorean Theorem can be used to calculate the distance between two points, as shown in the figure below.

<img src='Screen Shot 2020-11-12 at 6.51.05 PM.png'>


#### b) What is needed to build a Content-Based Recommender system?

- Collaborative filtering gives recommendations based on other unknown users who have the same preference as a given user, but with content-based filtering, items are recommended on a feature-level basis
- The Content-Based Recommender system doesn't need any data about other users, since the recommendations are specific to the user. It simply helps you by identifying products that are similar to the product that a user likes. Considering that there's no need of data it can be scaled to large set of users. 
- The content based recommender system works by capture the specific interests of a user, and can recommend niche items that very few other users are interested in
- In Content-Based Recommender system, we match users based on the content they prefer. The attributes of the users and the products are very important
- Kernel density estimation (to help determine the density of data distribution) and cosine similarity (for measuring similarity between vectors) can be used to identify the recommendations for content-based recommender system

#### c) Name 2 methods to evaluate your recommender system.

There are two ways of evaluating the recommender system,
   - Accuracy and Error Based Methods
   - Ranking Based Methods

#### Accuracy and Error Based Methods:
   - Mean Absolute Error (MAE)
   - Mean Squared Error (MSE)
   - Root Mean Squared Error (RMSE)


##### Mean Squared Error (MSE)
    - The MSE is the average of the squared error. It is square of the average of the difference between the value predicted by the recommender and the actual value given by the user
    
   <img src='Screen Shot 2020-11-12 at 7.52.22 PM.png'>
   
##### Ranking Based Methods:
  - nDCG
  - Mean Reciprocal Rank
  - Average Precision
  - Spearman rank correlation evaluation

##### nDCG
     - nDCG has three parts. First is ‘CG’ which stands for Cumulative Gains. It deals with the fact that most relevant items are more useful than somewhat relevant items that are more useful than irrelevant items. It sums the items based on its relevancy, hence, the term cumulative.  
     - But CG doesn’t account for the position of the items on the list, changing the item's position won’t change the CG. To account for the item position we use the 'D' i.e., Discounted Gain.  
     - DG penalizes the items that appear lower in the list. A relevant item appearing at the end of the list is a result of a bad recommender system and hence that item should be discounted to indicate the bad performance of the model
     - DCG helps with the ranking but if we are comparing the different lists of the recommender. To normalize this ’n’ of nDCG, the third part, comes in to play.
     
   <img src='Screen Shot 2020-11-12 at 7.57.27 PM.png'>

### 3. Challenge question - extra points (20)

Use a combination of user-item approach to build a recommendation score for each song for each user using the following steps for each user-

- For each song for the user row, get the top 10 similar songs and their similarity score.
- For each of the top 10 similar songs, get a list of the user purchases
- Calculate a recommendation score as follows: ∑(𝑝𝑢𝑟𝑐ℎ𝑎𝑠𝑒𝐻𝑖𝑠𝑡𝑜𝑟𝑦⋅𝑠𝑖𝑚𝑖𝑙𝑎𝑟𝑖𝑡𝑦𝑆𝑐𝑜𝑟𝑒)/∑𝑠𝑖𝑚𝑖𝑙𝑎𝑟𝑖𝑡𝑦𝑆𝑐𝑜𝑟𝑒

In [261]:
def recommendation_score(history, similarities):
    return sum(history*similarities)/sum(similarities)

In [262]:
#similarity Matrix
user_sim = pd.DataFrame(index=dataset.index,columns=dataset.columns)
user_sim.iloc[:,:1] = dataset.iloc[:,:1]

In [263]:
for i in range(0,len(data_sims.index)):
    for j in range(1,len(data_sims.columns)):
        user = user_sim.index[i]
        songs = user_sim.columns[j]
 
        if dataset.iloc[i][j] == 1:
            user_sim.iloc[i][j] = 0
        else:
            top_songs = radio_similar_songs.loc[songs]
            song_top_sims = radio_song.loc[songs].sort_values(ascending=False)
            user_purchases = radio_song_item.loc[user,top_songs]
 
            user_sim.iloc[i][j] = recommendation_score(user_purchases,song_top_sims)

In [264]:
user_sim.head()

,user,a perfect circle,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,...,timbaland,tom waits,tool,tori amos,travis,trivium,u2,underoath,volbeat,yann tiersen
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,33,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [266]:
# Get the top songs
top_sim_songs = pd.DataFrame(index=user_sim.index, columns=['user','1','2','3','4','5','6','7','8','9','10'])
top_sim_songs.iloc[0:,0] = user_sim.iloc[:,0]

# Names of the top rated songs
for i in range(0,len(user_sim.index)):
    top_sim_songs.iloc[i,1:] = user_sim.iloc[i,:].sort_values(ascending=False).iloc[1:11,].index.transpose()

##### What are the top 5 song recommendations for user 1606?

In [277]:
top_sim_songs.iloc[99,:11]

user                1606
1            the beatles
2          frank sinatra
3          elvis presley
4                   abba
5       a perfect circle
6                  ac/dc
7             adam green
8              aerosmith
9                    afi
10                   air
Name: 99, dtype: object